/* General Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Style for input fields */
form input[type="text"],
/* form input[type="date"], */
form input[type="number"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* Style for date input */
.form input[type="date"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  direction: rtl;
  /* Set direction to right-to-left */
}

form input[type="checkbox"] {
  margin-right: 5px;
}

form label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #17A08B;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #17A08B;
}

* {
  direction: rtl;
}

.error {
  color: red;
  font-size: 16px;
  font-weight: 500;
}